<!-- Page Title Section -->
<div class="hero-unit">
  <h3>RegPrecise WebService</h3>
  <p>Use this page to make calls to the RegPrecise service</p>
</div>

<!--Main Content Section-->
<div class="container-fluid">

  <div class="row-fluid" ng-controller="RegPreciseCtrl">
    
    <!--    Form to Control Requests-->
    <div class="span2">
      
      <% actions = {
         :regulon => "Get Regulon",
         :regulog => "Get Regulog",
         :genes => "Regulated Genes",
         :sites => "Binding Sites",
         :getall => "Genome Stats"
      } %>

      <form>
        <%= csrf_meta_tags %>
        <fieldset>

          <legend class="label label-warning" ng-show="loading">
            <h4>Processing...</h4>
          </legend>

          <legend class="label label-info" ng-show="!loading">
            <h4>RegPrecise Request</h4>
          </legend>

          <%= label_tag :regulonID, "RegulonID" %>
          <%= text_field_tag :regulonID, nil, :placeholder => "RegulonID", "ng-model" => "regpreciseRequest.regulonID" %>
          <%= label_tag :regulogID, "RegulogID" %>
          <%= text_field_tag :regulogID, nil, :placeholder => "RegulogID", "ng-model" => "regpreciseRequest.regulogID" %>

          <% actions.each do |key, name| %>
          <button ng-click=<%= "#{key}Click($e)" %> class="btn" id=<%= "#{key}-btn" %>><%= name %></button>
          <% end %>

        </fieldset>
      </form>
    </div>

<!--    Area to Display the Results-->
    <div class="span9 offset1">

      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#chart" data-toggle="tab">Chart</a></li>
          <li><a href="#regulon" data-toggle="tab">Regulon(s)</a></li>
          <li><a href="#alldata" data-toggle="tab">Genome Stats!</a></li>
          <li><a href="#genes" data-toggle="tab">Genes</a></li>
          <li><a href="#sites" data-toggle="tab">Sites</a></li>
        </ul>

        <div class="tab-content">

          <div class="tab-pane active" id="chart">
            <!-- Space Reserved For Chart of Awesome -->
          </div>

          <div class="tab-pane" id="regulon">

            <div id="regulon-accordion" class="accordion">

              <dl class="dl-horizontal">
                
                <div class="accordion-group" 
                     ng-repeat="(index, regulon) in regpreciseRequestRegulons"
                     >

                  <div class="accordion-heading">

                      <a href="#regulon-{{index}}" 
                         class="accordion-toggle" 
                         data-toggle="collapse" 
                         data-parent="#regulon-accordion"
                         >

                        <h4 class="label label-info">{{regulon.genomeName}}</h4>
                      </a>
                      
                  </div>

                  <div id="regulon-{{index}}" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <div ng-repeat="(key, value) in regulon">
                        
                        <dt>{{key}}</dt>
                        <dd>{{value}}</dd>
                        
                      </div>
                      
                    </div>
                  </div>                  
                </div>
                
              </dl>
              
            </div>
          </div>

          <div class="tab-pane" id="alldata">

              <!-- This is the HTML for the response to a 'Get All' request -->
              <li ng-repeat="regulon in regpreciseRequestAllRegulons">
                <span>{{regulon.genomeId}} : {{regulon.name}}</span>
              </li>
            </ul>
          </div>

          <div class="tab-pane" id="genes">
            <ul>
              <li ng-repeat="gene in regpreciseRequestGeneByRegulon">
                <p>{{gene}}</p>
              </li>
            </ul>
          </div>

          <div class="tab-pane" id="sites">
            <ul>
              <li ng-repeat="site in regpreciseRequestSiteByRegulon">
                geneLocusTag: {{site.geneLocusTag}}<br>
                geneVIMSSId: {{site.geneVIMSSId}}<br>
                position: {{site.position}}<br>
                regulonId: {{site.regulonId}}<br>
                score: {{site.score}}<br>
                sequence: {{site.sequence}}<br>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
