<!-- Page Title Section -->
<div class="hero-unit">
  <h3>RegPrecise WebService</h3>
  <p>Use this page to make calls to the RegPrecise service</p>
</div>

<!--Main Content Section-->
<div class="container-fluid" ng-controller="RegPreciseCtrl">

  <div class="row-fluid">

    <!--    Form to Control Requests-->
    <div class="span3">

      <% actions = {
         :regulon => "Get Regulon",
         :regulog => "Get Regulog",
      } %>

      <form>
        <%= csrf_meta_tags %>
        <fieldset>

          <legend class="label label-warning" ng-show="loading">
            <h4>Processing...</h4>
          </legend>

          <legend class="label label-info" ng-show="!loading">
            <h4>RegPrecise Request</h4>
          </legend>


          <%= label_tag :regulonID, "RegulonID" %>

          <div class="controls controls-row">
            <%= text_field_tag :regulonID, nil, :placeholder => "RegulonID", "ng-model" => "regpreciseRequest.regulonID", :class => "input-small span4" %>
            <%= button_tag "Get Regulon", :id => "regulon-btn", "ng-click" => "queryRegPrecise('regulon_by_id', 'chartRegulon')", :class => "btn span6" %>
          </div>

          <%= label_tag :regulogID, "RegulogID" %>

          <div class="controls controls-row">
            <%= text_field_tag :regulogID, nil, :placeholder => "RegulogID", "ng-model" => "regpreciseRequest.regulogID", :class => "input-small span4" %>
            <%= button_tag "Get Regulog", :id => "regulog-btn", "ng-click" => "regulogClick()", :class => "btn span6" %>
          </div>
        </fieldset>
      </form>

      <!-- Include Regulon Detail Section -->
      <div class="regulon-detail" ng-show="regulonDataPresent">
        <legend>Regulon Detail</legend>
        <%= render :partial => "regulon_section" %>
      </div>
    </div>

<!--    Area to Display the Results-->
    <div class="span8 offset1">
      <div class="tab-pane active chart-area" id="chart">
        <!-- Space Reserved For Chart of Awesome -->
      </div>
    </div> <!-- End of Chart Area -->
  </div> <!-- End of Row Area -->
  <div class="row-fluid">
    <div class="span4" ng-show="geneDataPresent">
      <legend>Regulated Genes</legend>
      <%= render :partial => "genes-table" %>
    </div> <!-- End Genes Region -->

    <div class="span4 offset2" ng-show="siteDataPresent">
      <legend>Binding Sites</legend>
      <%= render :partial => "sites-table" %>
    </div> <!-- End Sites Region -->

  </div> <!-- End Row -->
</div> <!-- End of Container -->
